.window {
  display: flex;
  min-width: 300px;
  width: calc(100vw - 300px - 1px);
  height: 100vh;
  flex-direction: row;
}

.paneWrapper {
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.resizableContainer {
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  overflow: hidden;
}