.component {
  align-items: center;
  justify-content: center;
  color: var(--theme-main-body-messages-color);
  padding: 20px;
  :global .SimpleFormField_root > .SimpleFormField_inputWrapper > .SimpleTextArea_textarea{
    max-height: 180px;
    font-size: 14px;
  }
}

.categoryTitle {
  font-size: 26px;
  letter-spacing: 0.5px;
  color: var(--theme-bordered-box-text-color);
  margin-bottom: 30px;
}

.subTitle {
  font-family: var(--font-semibold);
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.tokenPage,
.borderedBox {
  font-size: 14px;
  background: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 4px;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.tokenContrainer {
  width:45%; 
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
}

.tokenPage {
  height: 250px;
  width: 100%;
}

.inputRegion {
  width:54%; 
  display: inline-block;
  float: right;
  margin-bottom: 5px;
  font-size: 16px;
}

.inputContainer {
  height:200px;
  font-size: 14px;
  background-color: #efefef;
  margin-left: 20px;
  padding: 10px 0px;
}
.receiveContainer {
  margin-top: 100px;
  height:200px;
  font-size: 14px;
  background-color: #efefef;
  margin-left: 20px;
  padding: 10px 0px;
  text-align: center;
  
  input {
    width: 100%;
	  height: 30px;
	  font-size: 14px;
    outline: 0;
    border: var(--theme-bordered-box-border) !important;
    padding-left: 10px !important;
    padding-right: 2px;
    margin: 5px 0;
	}

	input[type=number]:hover::-webkit-inner-spin-button {  
	  height: 30px;
	}

  :global .SimpleButton_root {
    width: 50%;
    height: 34px;
    padding: 10px 30px;
    text-align: center;
    margin: 30px 10px;
  }
}

.sendInputPos,
.gasPriceInputPos,
.tokenInputPos {
  text-align: right;
  display: inline-block;
  margin-bottom: 5px;

  input {
    width: 100%;
	  height: 30px;
	  font-size: 14px;
    outline: 0;
    border: var(--theme-bordered-box-border) !important;
    padding-left: 10px !important;
    padding-right: 2px;
    margin: 5px 0;
	}

	input[type=number]:hover::-webkit-inner-spin-button {  
	  height: 30px;
	}
}

.sendInputPos {
  width: calc(100% - 100px);
}

.gasPriceInputPos {
  width: calc(100% - 140px);
}

.tokenInputPos {
  width: calc(100% - 140px);
}

.sendInputLabel {
  width: 100px;
  display: inline-block;
}

.addTokenInputLabel {
  width: 140px;
  display: inline-block;
}

.addressContainer {
  //font-size: 12px;
  margin-top: 30px;
  input {
	  height: 30px;
	  font-size: 14px;
	  outline: 0;
    padding-left: 10px;
    border: var(--theme-bordered-box-border) !important;
    width: 100%;
	}
}

.tokenElement {
  margin: 5px 0px;
}

.tokenInputBox {
  width: calc(100% - 160px);
}

.inputCopyAddress {
  width: calc(100% - 30px);
}

.buttonContainer {
  margin-top: 16px;
  padding: 10px 30px;
  text-align: center;
  :global .SimpleButton_root {
    width: 32%;
    height: 34px;
    padding: 2px;
    margin: 0 10px;
  }
}

.navButton {
  color:white;
  border-radius: 5px;
  padding: 10px;
  margin: 2px 3px 1px 1px;
  width: 32%;
  cursor: pointer;
  &:hover {
    background-color: var(--theme-nav-item-background-color-hover);
  }
}

.normal {
  background-color: var(--theme-nav-item-background-color);
}

.active {
  background-color: var(--theme-nav-item-background-color-active);
}

.tokenTable {
  margin-top: 50px;
  border: 1px solid #878b98;
  height: calc(100vh - 500px);
  overflow: auto;
  
  :global .ReactTable{
    .rt-table {
      .rt-thead{
        font: bold 14px/30px Georgia, serif;
        border-bottom: 1px solid #434754;
      }
      .rt-tbody {
        font-size: 13px;
      }
    }
    .pagination-bottom {
        display:none;
    }
    .rt-resizer {
      width:auto;
    }
    .rt-noData {
      display: none;
    }
  }
}