@import url(https://fonts.googleapis.com/css?family=Montserrat);
.pageContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: left;
  line-height: normal;
  z-index: 0;
  -webkit-tap-highlight-color: transparent;
  //font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.component {
  display: flex;
  padding: 0px 8px;
  :global .SimpleFormField_root {
    .SimpleFormField_error {
      display: none;
    }
    .SimpleFormField_inputWrapper {
      .SimpleInput_input {
        padding: 10px;
        margin-left: 5px;
        font-weight: bold;
      }
    }
    &:after {
      bottom: 12px;
      left: calc(100% - 20px);
    }
  }
  :global .SimpleSelect_select {
    .SimpleFormField_root {
      .SimpleFormField_inputWrapper {
        .SimpleInput_input {
          padding-left: 40px;
          //  background-color: transparent;
          //  border: 0px;
        }
        .SimpleOptions_ul {
          font-size: 14px;
          .SimpleOptions_option {
            padding: 10px;
          }
        }
      }
    }
  }
}

//Exchange Setting

.selectWidth {
  width: 40%;
}

.span {
  width: 80px;
  margin-left: 20px;
  padding-top: 7px;
}

.numericInput {
  margin-left: 5px;
  width: 45%;
}

.divTotal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.imageStyle {
  width: 20px;
  height: 20px;
  margin-top: 10px;
  margin-right: 10px;
}

.control {
  flex: 1;
  overflow-x: hidden;
  overflow-y: overlay;
  padding: 20px;
}

.coin {
  float: left;
  font-size: 12px;
}

.balance {
  float: left;
  margin-left: 20px;
}

.coinbalance {
  float: left;
  width: 100%;
  margin-bottom: 8px;
}
.left {
  float: left;
}
.right {
  float: right;
}

.margin_left20 {
  margin-left: 20%;
}

.half {
  display: inline-block;
  width: 50%;
}

.spanRight {
  position: absolute;
  right: 40px;
}

.spanMargin30 {
  margin: 0px 30px;
}

.spanMargin36 {
  margin: 0px 36px;
}

.customOptionStyle {
  height: 30px;
}

.center {
  width: 40%;
  left: 30%;
}

.swapbutton {
  :global .SimpleButton_root {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    width: 50%;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 25%;
  }
}

.spanPrice {
  margin-left: 10px;
}

.totalInput {
  width: 35%;
}

.logContainer {
  font-family: var(--font-light);
  font-size: 12px;
  height: 340px;
  padding: 10px;
  background-color: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
}

.logStyle {
  margin-bottom: 10px;
}

.logTime {
  width: 70px;
  vertical-align: top;
  display: inline-block;
}

.logContent {
  position: relative;
  width: calc(100% - 70px);
  display: inline-block;
}

.red {
  color: red;
}

.checkboxTab {
  width: 100%;
  :global .SimpleToggler_toggler {
    background-color: transparent;
    height: 35px;
    .SimpleToggler_label {
      font-family: var(--font-bold);
      font-size: 16px;
      padding-top: 5px;
      width: 80px;
    }
    .SimpleToggler_checked {
      border: solid 1px #0097e0;
      color: #0097e0 !important;
      position: relative;
    }

    .SimpleToggler_label:not(.SimpleToggler_checked) {
      border: solid 1px #fff;
      color: #fff !important;
    }
  }
}

.send {
  float: right;
  > * {
    cursor: pointer;
  }
}

.recv {
  margin-left: 10px;
  > * {
    min-width: 70px;
    cursor: pointer;
  }
  float: right;
}

.orderBook {
  display: flex;
  flex-direction: column;
  > div {
    height: 48%;
  }
  > div:first-child {
    margin-bottom: 8px;
  }
}

.content {
  display: flex;
  height: 100%;
  > .orderBook {
    width: 20%;
  }
}

.divStatus,
.graph {
  display: inline-block;
  width: 75%;
  margin: 0px 8px;
  border: var(--theme-bordered-box-border);
}

.divStatusTab {
  display: inline-block;
  margin-left: 5px;
  > :first-child {
    display: flex;
  }
}

.divStatus {
  display: flex;
  font: bold 14px/30px var(--font-semibold);
  border: none;
  background-color: #061532;
   //var(--theme-luxgate-statusbar-background-color);
  // vertical-align: top;
  //border-radius: 7px;
}

.divStatus,
.graph,
.orderTable2 {
  margin-right: 8px;
}

// chart

.graph {
  //  border: solid 1px var(--theme-bordered-box-background-color);
  background-color: var(--theme-bordered-box-background-color);
  border-radius: 4px;
}

.divBalance,
.setting,
.dataTable {
  width: 42%;
  vertical-align: top;
}

.divBalance {
  display: inline-block;
  height: 70px;
  font: bold 14px/30px var(--font-semibold);
  padding: 4px 20px;
  background-color: #061532; //var(--theme-luxgate-statusbar-background-color);
  color: #fff;
  border-radius: 4px;
  border: var(--theme-bordered-box-border);
  //border-radius: 7px;
  margin-bottom: 2px;
  :global .SimpleButton_root {
    width: 70px;
    height: 24px;
    padding: 2px;
    margin-left: 5px;
  }
}

.sendReceivePanel {
  @extend .divBalance;
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
}

.statusTable {
  @extend .dataTable;
  min-height: 400px;
}

.div {
  margin-bottom: 2px;
  border: solid 1px var(--theme-bordered-box-background-color);
}

.setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 310px;
  width: 100%;
  background-color: var(--theme-bordered-box-background-color);
  border: var(--theme-bordered-box-border);
  border-radius: 4px;
  vertical-align: top;
  margin-bottom: 8px;
  padding: 0px 8px;
}

.card {
  padding-top: 16px;
  //  flex: 1 1 auto;
  //  padding: 1.25rem;
}
.cardTitle {
  text-align: center;
  font-weight: bold;
  margin-bottom: 16px;
}
.cardSubtitle {
  padding: 10px;
  font-weight: 100;
  margin-top: 23px;
  color: #6c757d;
}

// table style
.LogListCaptionBar,
.balancesTableCaptionBar,
.orderTableCaptionBar {
  width: 100%;
  height: 36px;
  color: #fff; //var(--theme-bordered-box-text-color);
  background-color: #061532; //var(--theme-bordered-box-background-color);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.LogListCaptionBar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: var(--font-medium);
}

.orderTableCaptionBar {
  padding: 10px;
}

.order {
  font-size: 14px;
  font-weight: 700;
  float: left;
  color: #fff;
}
.tableCaptionPos {
  font-family: var(--font-bold);
  margin-left: 40%;
}

.orderTable1,
.orderTable2,
.openOrdersTable,
.balancesTable,
.historyTable,
.dataTable {
  display: inline-block;
  width: 100%;
  border-radius: 4px;
  border: var(--theme-bordered-box-border);
  :global .ReactTable > .rt-noData {
    display: none;
  }
}

.orderTable1,
.orderTable2,
.openOrdersTable,
.balancesTable,
.historyTable,
.dataTable {
  :global .ReactTable {
    .rt-table {
      border: none;
      .rt-thead {
        font: bold 14px 'Roboto', Montserrat;
        border-bottom: 1px solid #434754;
      }
      .rt-tbody {
        font-size: 13px;
        text-align: center;
      }
    }
    .pagination-bottom {
      display: none;
    }
    .rt-resizer {
      width: auto;
    }
  }
}

.logTable {
  :global .ReactTable {
    .rt-table {
      .rt-thead {
        font: bold 14px 'Roboto', Montserrat;
        border-bottom: 1px solid #434754;
      }
      .rt-tbody {
        font-size: 13px;
      }
    }
    .pagination-bottom {
      display: none;
    }
    .rt-resizer {
      width: auto;
    }
  }
}

.margetTable {
  height: 40%;
  padding-right: 10px;
  padding-bottom: 20px;
}

//coin image

.coinStyle {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -2px;
  vertical-align: middle;
}

.switch {
  display: flex;
  .switchButton {
    margin: auto;
    width: 30px;
    height: 30px;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

.assistContainer {
  display: flex;
  flex-direction: column;
  max-width: 25%;
}


// 
:global .ReactTable {
  border: none;
  *::-webkit-scrollbar-thumb { 
    display: none;
  }

}
:global .ReactTable.-striped .rt-tr {
  background: #fff !important;
}