.component {
  width: 100%;
  justify-content: space-between;
  background: var(--theme-button-flat-text-color-disabled);
  border-bottom: 3px solid var(--theme-button-flat-background-color-hover);
}

.navItem {
  height: 100%;
  width: percentage(1/5); // Update when adding new nav items!
  display: inline-block;
}
.balance {
  color: navajowhite;
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%; // Update when adding new nav items!
  background-color: var(--theme-nav-item-background-color);
  border-radius: 8px;
}
