// ========= LAYOUT =========

.component {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1px);
  height: 35px;
  border-radius: 4px;
}

.label {
  color: var(--theme-switch-thumb-color-checked);
  font-size: 14px;
  font-family: var(--font-regular);
  display: block;
  overflow: visible;
}

.icon {
  margin-right: 10px;
  & > svg {
    max-height: 19px;
    max-width: 19px;
  }

  @media (max-width: 950px) {
    display: none;
  }
}

// ========= STATES =========

.activeIcon {
  path {
    fill: var(--theme-icon-nav-color-active);
  }
}

.normalIcon {
  path {
    fill: var(--theme-icon-nav-color);
  }
}

.normal {
  .container {
    color: var(--theme-nav-item-text-color);
  }

  &:hover {
    .container {
      background-color: var(--theme-nav-item-background-color-hover);
    }
    cursor: pointer;
  }
}

.active {
  border-bottom: 3px solid var(--theme-button-flat-background-color-hover);
  /*.container {
    background-color: var(--theme-nav-item-background-color-active);
    color: var(--theme-nav-item-text-color-active);
  }

  &:hover {
    cursor: default;
  }*/
}

.btnEffect {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: var(--theme-button-flat-background-color-hover);
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}

// Basic Button Style
.btn {
  background-color: transparent;
  color: var(--theme-tab-flat-text-color);
  cursor: pointer;
  display: flex;
  align-self: center;
  line-height: 1;
  padding: 1em 0;
  text-decoration: none;
  text-align: center;
  font-family: var(--font-semibold);
  font-size: 14px;
  //text-transform: uppercase;

  &:hover {
    //color: #fff;
    outline: 0;
  }
  &:focus {
    border-bottom: 3px solid var(--theme-button-flat-background-color-hover);
  }
}